p{text-align: center; color: black; background-color: white;}
		div{background-color: pink;}
		li{display: inline;font-size-adjust: 40px;}
		a:hover{background-color: #00ffff;}
		li a{
			padding: 8px 16px;
			width: 60px;
			display: inline;
			border-radius: 5px;
			list-style-type: none;
			text-decoration-style: none;
		}
ul{display: inline;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-underline-position: none;
	border-radius: 5px;
}
#one{text-align: left;
	color: green;
	background-color: pink;}
body{
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #00ffff;
}
#text{
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;

}